.modalContainer{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;   /*// Fica fixo na tela */
    top: 0;             /*// Fica fixo na tela */
    left: 0;            /*// Fica fixo na tela */
    z-index: 2000;
    display: none;
    align-items: center;
    justify-content: center;
}
.modalContainer.ativo{
    display: flex;
}
.modal{
    border: 10px solid darkred;
    box-shadow: 0 0 7px 10px rgba(0,0,0,0.3);
    background: white;
    width: 30%;
    margin: 10% auto;
    padding: 1em;
    border-radius: 0.5em;
    position: relative;
}
@keyframes modal{   /*Efeito de transição do modal*/
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.ativo .modal{
    animation: modal .5s forwards;
}
.fecharModal{
    background-color: white;
    position: absolute;
    top: -1em;
    right: -1em;
    border: solid white;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}