html, body{
    background-color: #e5e5e5;
    overflow-x: hidden; /* Evita o scroll horizontal */
    max-width: 100vw;
}
.titulo{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    padding-block: 0.5em;
}
.subtitulo{
    text-align: center;
    font-size: 1.8em;
    color: darkorange;
}
.lista{
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.5em;
}
.lista li{
    padding-inline: 0.3em;
}
.lista span{
    display: block;
    text-align: center;
    color: darkorange;
}
.informacoes{
    padding-block: 0.8em;
    display: grid;
}
.btnVerProjeto{
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 0.5em;
}
.btnVerProjeto:hover{
     background-color: rgb(27, 27, 233);
}
.conteudo{
    font-family: 'IBM Mono', monospace;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
        'CorrTransp CorrTransp CorrTransp'
            'RoloMov Vedacao RoloMotr'
        'Rc Rr CvtC SptR AltalhC AltalhR'
    ;
}
.cartoes{
    border-radius: 0.8em;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.CorrTransp{
    grid-area: CorrTransp;
    max-width: 80%;
    margin: auto;
    padding: 1em;
}
.divRolo{
    display: flex;
    justify-content: center;
    gap: 0.4em;
}
.RoloMov{
    max-width: 50%;
    grid-area: RoloMov;
    padding: 1em;   
}
.RoloMotr{
    max-width: 50%;
    grid-area: RoloMotr;
    padding: 1em;
}
.Vedacao{
    grid-area: CorrTransp;
    max-width: 80%;
    margin: auto;
    padding: 1em;
}
.divRoletes{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.Rc{
    grid-area: Rc;
    padding: 1em;
}
.Rr{
    grid-area: Rr;
    padding: 1em;
}
.divCavaletes{
    display: flex;
    justify-content: center;
    gap: 0.4em;
}
.CvtC{
    grid-area: CvtC;
    padding: 1em;
}
.SptR{
    grid-area: SptR;
    padding: 1em;
}
.AltalhC{
    grid-area: AltalhC;
    padding: 1em;
}
.AltalhR{
    grid-area: AltalhR;
    padding: 1em;
}
/* === REGRAS RESPONSIVAS === */

/* Tablets 768px a 1024px */
@media screen and (max-width: 1024px) {
    .conteudo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            'CorrTransp CorrTransp'
            'RoloMov Vedacao'
            'RoloMotr Rc'
            'Rr CvtC'
            'SptR AltalhC'
            'AltalhR .';
    }
    
    .titulo {
        font-size: 3em;
    }
    
    .subtitulo {
        font-size: 1.5em;
    }
}

/* Celular até 480px a 768px */
@media screen and (max-width: 980px) {
    .conteudo {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'CorrTransp'
            'RoloMov'
            'Vedacao'
            'RoloMotr'
            'Rc'
            'Rr'
            'CvtC'
            'SptR'
            'AltalhC'
            'AltalhR';
    }
    
    .titulo {
        font-size: 2.5em;
        padding-block: 0.5em;
    }
    
    .subtitulo {
        font-size: 1.3em;
    }
    
    .lista {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        font-size: 1.2em;
    }
    
    .CorrTransp {
        max-width: 95%;
    }
}
@media screen and (max-width: 768px) {
    .conteudo {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'CorrTransp'
            'RoloMov'
            'Vedacao'
            'RoloMotr'
            'Rc'
            'Rr'
            'CvtC'
            'SptR'
            'AltalhC'
            'AltalhR';
        gap: 0.5em;
        padding: 0.5em;
    }
    
    .CorrTransp,
    .Vedacao,
    .RoloMov,
    .RoloMotr {
        max-width: 95%;
    }
    
    .divRolo,
    .divRoletes,
    .divCavaletes {
        flex-direction: column;
        align-items: center;
    }
}

/* Celular até 480px */
@media screen and (max-width: 480px) {
    .titulo {
        font-size: 2em;
    }
    
    .subtitulo {
        font-size: 1.1em;
    }
    
    .lista {
        font-size: 1em;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    .lista li {
        padding-inline: 0;
    }
    
    .btnVerProjeto {
        font-size: 0.6em;
        padding: 0.6em 1.2em;
    }
    
    .conteudo > div {
        margin: auto;
    }
}

/* Tela grande */
/* @media screen and (min-width: 1600px) {
    .conteudo {
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .CorrTransp {
        max-width: 70%;
    }
} */
/* Celular até 300px */
@media screen and (max-width: 360px) {
    .conteudo {
        padding: 0.3em;
    }
    
    .cartoes {
        margin: 0.2em;
        padding: 0.8em;
    }
    
    .titulo {
        font-size: 1.8em;
        padding: 0.3em 0.5em;
        word-break: break-word;
    }
}
@media screen and (max-width: 300px) {
    .topo{
        max-width: 100%;
    }
    .titulo {
        font-size: 1.5em;
        padding-block: 0.3em;
        word-wrap: break-word;
    }
    
    .subtitulo {
        font-size: 1em;
        word-wrap: break-word;
    }
    
    .lista {
        font-size: 0.9em;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        padding: 0.5em;
    }
    
    .lista li {
        text-align: center;
        width: 100%;
    }
    
    .btnVerProjeto {
        font-size: 0.7em;
        padding: 0.7em 1.5em;
        display: block;
        text-align: center;
        margin: 0.5em auto;
    }
    
    .conteudo > div {
        margin: 0.3em;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .CorrTransp {
        max-width: 98%;
        padding: 0.8em;
    }
    
    /* Garante que o grid ocupe toda a largura */
    .conteudo {
        grid-template-columns: 1fr;
        
    }
}
